.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}


@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.mainHead {
  padding: 15px 0px 0px 15px;
}

.headPara {
  font-size: 18px;
  color: #252525;
  padding-top: 6px;
  font-weight: 400;
}

.filterBtn {
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid rgb(0 0 0 / 12%);
  font-size: 15px;
  padding: 7px 12px;
  margin: 15px 5px;
  cursor: pointer;
  color: #616161;
}
.mapBtn{
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid rgb(0 0 0 / 12%);
  font-size: 15px;
  padding: 7px 12px;
  margin: 15px 5px;
  cursor: pointer;
  color: #00afd3;
  float: right;
  margin-right: 15px;
}

.searchWrapper {
  position: relative;
  display: inline-block;
}

.searchIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px; /* Adjust the icon size */
  color: #616161;
}

.searchBtn {
  padding-left: 35px; /* Make space for the icon */
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 15px;
  padding: 7px 27px;
  margin: 15px 5px;
  cursor: pointer;
  color: #616161;
  transition: width 0.3s ease;
  width: 110px;
}

.searchBtn:focus {
  width: 300px;
  outline: none;
  border-color: #2980b9;
}


.sortBtn {
  margin: 20px 12px;
  border-radius: 10px;
  background-color: #fdfdfd;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 15px;
  padding: 10px 20px;
  cursor: pointer;
}

.headParaBold {
  font-size: 18px;
  color: #252525;
  padding-top: 6px;
  font-weight: bold;
}

.tileConatiner {
  background-color: #fdfdfd;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin: 15px;
  margin-bottom: 10px;
}

.filterPad {
  padding: 10px;
  color: #000;
}
.mainContainer{
  background-color: #fff;
}

.filterPadOperat {
  padding: 10px;
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 5px;
  color: #000;
}
.selectCountryWidth{
  width: 100%;
  margin-top: 10px;
}
.sortMr{
  margin-right: 8px;
}
.sortWidth{
  width: 190px;
}
.marginRightIcon{
  margin-right: 8px;
}
.filterClose {
  padding: 10px;
  text-align: right;
  font-size: 18px;
  color: #000;
}

.imgAlignRight {
  text-align: right;
}

.flagTitle {
  font-size: 15px;
  color: #252525;
  font-weight: 500;
}

.flexCenter {
  margin-top: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkFery {
  height: 20px;
  width: 20px;
  margin: 5px
}

.flagDesc {
  font-size: 14px;
  color: #252525;
  font-weight: 400;
}
.flagCountryName{
  font-size: 14px;
  color: #252525;
  font-weight: 500;
}
.byFont {
  font-weight: 400;
}

.flagDescLink {
  font-size: 15px;
  color: #69b1ff;
  font-weight: 500;
}
.navigatePad{
  padding: 10px 2px;
}
.navigateText{
  color: #00afd4;
  font-size: 16px;
  font-weight: 500;
}
.ticketBtn{
  border-radius: 6px;
  background-color: #00afd3;
  border: 1px solid #f9f900;
  border-radius: 6px;
  font-size: 14px;
  padding: 10px 30px;
  margin-top: 20px;
  cursor: pointer;
  color: #fff;
  position: absolute;
}
.ticketBtnContainer{
  display: flex;
  justify-content: flex-end;
}
.mobFont {
  font-size: 23px;
  color: #1a1a1a;
}
.navigateArrow{
  color: #000;
  font-size: 14px;
}
.colorBlack{
  color: #000;
}
.mbDesc {
  margin-bottom: 10px;
}

.headContainer {
  background-color: #f8f8f8;
  padding: 10px 10px 5px 10px;
}

.descContainer {
  background-color: #fdfdfd;
  padding: 12px 5px 5px 12px;
}

.starContainer {
  text-align: left;
}

.descContainerParag {
  text-align: left;
}

.flagDescBorder {
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 17px;
  font-size: 15px;
  color: #252525;
  font-weight: 400;
  line-height: 1.6;
}

.buttonContainer {
  text-align: right;
  padding: 12px 10px 5px 8px;
}

.moreButton {
  color: #00afd4;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.iconContianer {
  background-color: #00afd4;
  color: #fff;
  border-radius: 360px;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px;
}

.justityEnd {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-right: 10px;
}

.justityStart {
  padding-top: 0px;
  display: flex;
  justify-content: start;
  align-items: end;
}

.padHeading {
  padding-bottom: 4px;
}

.mlStar {
  margin-left: 7px;
  font-size: 15px;
  font-weight: 500;
  color: #252525;
}

.starFont {
  font-size: 18px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .starContainer {
    text-align: left;
  }
  .flagCountryName{
    font-size: 17px;
  }
  .justityStart{
    align-items: baseline;
  }
  .flagTitle{
    font-size: 19px;
  }
  .mlStar {
    font-weight: 700;
  }
  .searchWrapper{
    display: none;
  }
  .searchBtn {
    display: none;
  }
  .ticketBtnContainer{
    display: none;
  }

  .justityEnd {
    padding-bottom: 10px;
  }
  .flagDesc{
    font-size: 17px;
  }
  .imgAlignRight {
    text-align: left;
  }
  .mapBtn{
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}